body {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.titulo {
  font-family: "Open Sans", sans-serif;
  font-family: "Redressed", cursive;
  font-size: 55px;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.logo img {
	position:absolute;
	margin-top: 0px;
	margin-left: 20px;
	height: 9%;
	width: 9%;
}

