body {
  background-image: url(../multimedia/imagenes/9.jpg);
}

.titulo {
  font-family: "Open Sans", sans-serif;
  font-family: "Redressed", cursive;
  font-size: 55px;
  text-transform: uppercase;
  letter-spacing: 7px;
}

nav {
  background-color: #e3f2fd;
}

.row {
  padding: 30px;
}
