body {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.titulo {
  font-family: "Open Sans", sans-serif;
  font-family: "Redressed", cursive;
  font-size: 55px;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.navbar {
	background: #61bfe1;
}

.navbar a {
	color: #fff;
	display: inline-block;
	padding: 0px;
	width: 100%;
	text-align: center;
	color: #000;
	transition: .3s ease-out all;
}

.navbar a:hover {
	background: #1D2F3D;
	color: #fff;
	text-decoration: none;
}

.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.logo img {
	position:absolute;
	margin-top: 0px;
	margin-left: 20px;
	height: 9%;
	width: 9%;
}

